@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.header {
  position: sticky;
  background: #000000;
  color: #ffffff;
  display: flex;
  
  align-items: center;
  height: 50px;
  padding: 10px 
}

