.authorDetails {
  display: flex;
  align-self: stretch;
  justify-self: stretch;

  display: flex;
  flex-direction: column;
  flex: 3;

  overflow: scroll;
}
.detailsItem {
  display: flex;
  justify-content: space-between;
}

.bookRecord:hover {
  background: gray;
  cursor: pointer;
}
.selected {
  background: #897e14;
}
