.main {
  max-height: 88vh;
  display: flex;
}

@media (max-width: 660px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 15px;
    max-height: none;
  }
}
