.wrapper {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
}
@media (max-width: 660px) {
  .Table__wrapper {
    align-content: start;
  }
  .wrapper {
    font-size: 15px;
    overflow-y: scroll;
  }
}
