@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

header {
  background: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 5px 20px;
}

.logoImage {
  height: 30px;
  width: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

@media (max-width: 450px) {
  .logo {
    font-size: 18px;
  }
}

.menu {
  color: white;
}
