.bookRecord {
  cursor: pointer;
  overflow-x: scroll;
}
.bookRecord:hover {
  background: gray;
  opacity: 0.8;
}
.item {
  padding: 5px;
  height: 30px;
}
.isSelected {
  background: rgba(238, 215, 4, 0.5) !important;
}
